# Entornos virtuales (Python)
.venv/
venv/
env/
ENV/

# Dependencias de Node (JavaScript)
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de configuración del sistema y editores
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml
*.swp

# Archivos de entorno con claves secretas y contraseñas
.env
.env.local
*.env

# Capacitor / Android build outputs
android/app/build/
android/.gradle/
android/build/
android/captures/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json

# Archivos pesados / PDFs / Zips exportados
*.zip
*.pdf
